[node0]
mode = rx
cpuNum = 0
rxPort = 8989

[node1]
mode = rx
cpuNum = 0
rxPort = 8990

[node2]
mode = tx
cpuNum = 0
txBlockSize = 8192
txBlockPause = 25000000
#txBlockPause = 1000000000
txNumDests = 2
txDestAddr0 = 10.2.0.3
txDestPort0 = 8989
txDestAddr1 = 10.2.0.3
txDestPort1 = 8990

[node3]
mode = tx
cpuNum = 0
txBlockSize = 8192
txBlockPause = 25000000
txNumDests = 1
txDestAddr0 = 10.2.0.4
txDestPort0 = 8990