[global]	
#reportInterval = 100000000
reportInterval = 1000000
txBlockSize = 1024
txBlockPause = 0
#txBlockPause = 25000000

[node1]
mode = tx
cpuNum = 1
txSrcAddr = 10.1.0.1
txSrcPort = 9991
txSubFrame = 0
txNumDests = 1
txDestAddr0 = 10.1.0.15
txDestPort0 = 8995

[node2]
mode = tx
cpuNum = 1
txSrcAddr = 10.1.0.2
txSrcPort = 9992
txSubFrame = 1
txNumDests = 1
txDestAddr0 = 10.1.0.16
txDestPort0 = 8996

[node3]
mode = tx
cpuNum = 1
txSrcAddr = 10.1.0.3
txSrcPort = 9993
txSubFrame = 2
txNumDests = 1
txDestAddr0 = 10.1.0.17
txDestPort0 = 8997

[node4]
mode = tx
cpuNum = 1
txSrcAddr = 10.1.0.4
txSrcPort = 9994
txSubFrame = 3
txNumDests = 1
txDestAddr0 = 10.1.0.18
txDestPort0 = 8998

[node5]
mode = tx
cpuNum = 1
txSrcAddr = 10.1.0.5
txSrcPort = 9995
txSubFrame = 4
txNumDests = 1
txDestAddr0 = 10.1.0.11
txDestPort0 = 8991

[node6]
mode = tx
cpuNum = 1
txSrcAddr = 10.1.0.6
txSrcPort = 9996
txSubFrame = 5
txNumDests = 1
txDestAddr0 = 10.1.0.12
txDestPort0 = 8992

[node7]
mode = tx
cpuNum = 1
txSrcAddr = 10.1.0.7
txSrcPort = 9997
txSubFrame = 6
txNumDests = 1
txDestAddr0 = 10.1.0.13
txDestPort0 = 8993

[node8]
mode = tx
cpuNum = 1
txSrcAddr = 10.1.0.8
txSrcPort = 9998
txSubFrame = 7
txNumDests = 1
txDestAddr0 = 10.1.0.14
txDestPort0 = 8994

[node11]
mode = rx
cpuNum = 0
rxPort = 8991

[node12]
mode = rx
cpuNum = 0
rxPort = 8992

[node13]
mode = rx
cpuNum = 0
rxPort = 8993

[node14]
mode = rx
cpuNum = 0
rxPort = 8994

[node15]
mode = rx
cpuNum = 0
rxPort = 8995

[node16]
mode = rx
cpuNum = 0
rxPort = 8996

[node17]
mode = rx
cpuNum = 0
rxPort = 8997

[node18]
mode = rx
cpuNum = 0
rxPort = 8998