[global]	
#reportInterval = 100000000
reportInterval = 10000

[node1]
mode = rx
cpuNum = 0
rxPort = 8991
#reportInterval = 100000

[node2]
mode = rx
cpuNum = 0
rxPort = 8992
#reportInterval = 100000

[node3]
mode = rx
cpuNum = 0
rxPort = 8993
#reportInterval = 100000

[node4]
mode = rx
cpuNum = 0
rxPort = 8994
#reportInterval = 100000

[node5]
mode = tx
cpuNum = 0
txSrcAddr = 10.1.0.5
txSrcPort = 9991
txSubFrame = 0
txBlockSize = 8192
txBlockPause = 0
#txBlockPause = 25000000
txNumDests = 1
txDestAddr0 = 10.1.0.11
txDestPort0 = 8991
#reportInterval = 100000

[node6]
mode = tx
cpuNum = 0
txSrcPort = 9992
txSubFrame = 1
txBlockSize = 8192
txBlockPause = 0
#txBlockPause = 25000000
txNumDests = 1
txDestAddr0 = 10.1.0.2
txDestPort0 = 8992
#reportInterval = 100000

[node7]
mode = tx
cpuNum = 0
txSrcPort = 9993
txSubFrame = 2
txBlockSize = 8192
txBlockPause = 0
#txBlockPause = 25000000
txNumDests = 1
txDestAddr0 = 10.1.0.3
txDestPort0 = 8993
#reportInterval = 100000

[node8]
mode = tx
cpuNum = 0
txSrcPort = 9994
txSubFrame = 3
txBlockSize = 8192
txBlockPause = 0
#txBlockPause = 25000000
txNumDests = 1
txDestAddr0 = 10.1.0.4
txDestPort0 = 8994
#reportInterval = 100000
