[global]
reportInterval = 10000

[node1]
mode = rx
cpuNum = 0
rxPort = 8991
#reportInterval = 100000

[node2]
mode = rx
cpuNum = 0
rxPort = 8992
#reportInterval = 100000

[node3]
mode = tx
cpuNum = 0
txPort = 9991
txBlockSize = 8192
txSubFrame = 0
#txBlockPause = 0
txBlockPause = 400000000
txNumDests = 2
txDestAddr0 = 127.0.0.1
txDestPort0 = 8991
txDestAddr1 = 127.0.0.1
txDestPort1 = 8992

[node4]
mode = tx
cpuNum = 0
txPort = 9992
txBlockSize = 8192
txSubFrame = 1
#txBlockPause = 0
txBlockPause = 400000000
txNumDests = 2
txDestAddr0 = 127.0.0.1
txDestPort0 = 8991
txDestAddr1 = 127.0.0.1
txDestPort1 = 8992

